/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, audio {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.container {
  margin: 0px auto 0 auto
  width: 720px;
  height: 720px;
  display: block;
}

.timings {
  float: left;
  width: 100px;
  height: 720px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.days {
  background-color: lightgrey;
  width: 600px;
  height: 720px;
  padding: 0px 10px;
}

.event {
  width: 200px;
  height: 200px;

}
